extends ./layout/layout.pug

block style
  link(rel="stylesheet", href="/static/lib/simplemde/dist/simplemde.min.css")
  link(rel="stylesheet", href="/static/stylesheets/github-markdown.css")
  link(rel="stylesheet", href="/static/lib/highlight/styles/atom-one-dark.css")

block content
  include ./layout/header.pug
  .cye-container
    .layui-container
      div(data-id=postId).article-container
        .post-title
          if post.type==='original'
            h1= '[原创] ' + post.title
          else
            h1= '[转载] ' + post.title
        .post-banner
          img(src= post.banner, alt="banner")
        .post-info
          span
            | 作者：
            a(href= authorLink)= author
          span
            | 分类：
            a(href="/category/" + category._id)= category.name
          span 创建时间：#{createTime }
          span 阅读量：#{click}
        .post-solid
        .post-content.markdown-body
          != content
        .post-tags
          span.post-item-title 标签：
          if !tags.length
            i 暂无标签
          each tag in tags
            a(href="/tag/" + tag._id).tag=tag.name
        .post-reply
          .post-item-title 发表评论：
          .post-comments-form
            if !userInfo.username
              a(href="/login").layui-btn.layui-btn-normal 登录后发表评论
            else
              .comment-textarea
                <textarea name="comment" id="comment-textarea" cols="30" rows="10"></textarea>
              .comment-submit
                button#comment-submit.layui-btn.layui-btn-normal 发表评论
        .post-comments
          .post-item-title 评论：
          .post-comments-container
            .post-comments-item
              .post-comments-author


  include ./layout/friendshipLinks.pug

block script
  script(src="/static/lib/highlight/highlight.min.js")
  script(src="/static/lib/simplemde/dist/simplemde.min.js")
  script(src="/static/main/article.js")